.ReviewCard {
    border: 2px var(--main-color) solid;
    border-radius: 21px;
    padding: 32px 16px;
    margin-bottom: 20px;

    @media screen and (max-width: 980px) {
        padding: 20px 12px;
    }

    .cardHeader {
        display: flex;
        gap: 18px;
        margin-bottom: 10px;

        .avatar img {
            width: 62px;
            height: 62px;
            border-radius: 50%;
            border: 1px solid var(--main-color);

            @media screen and (max-width: 767px) {
                width: 50px;
                height: 50px;
            }
        }

        .stars {
            display: flex;
            margin-top: 10px;

        }
    }
}