.container {
    height: 900px;
    position: relative;
    overflow: hidden;

    @media screen and (max-width: 1150px) {
        height: 550px;
    }

    @media screen and (max-width: 767px) {
        height: 520px;
    }
}

.title {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 350px;

    @media screen and (max-width: 1150px) {
        top: 200px;
    }

    @media screen and (max-width: 767px) {
        top: 220px;
    }
}

.text {
    margin-bottom: 20px;
}

.bg1 {
    position: absolute;
    height: 200%;
    width: 100%;
    background: url('../../../../shared/assets/images/main-page/bg1.png') center 0;
}

.bg2 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('../../../../shared/assets/images/main-page/bg2.png') center 0;
}

.bg3 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('../../../../shared/assets/images/main-page/bg3.png') center 0;
}

.bg4 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('../../../../shared/assets/images/main-page/bg4.png') center 0;
}

.blur {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    // backdrop-filter: blur(1px);
}