.menuSection {
    // на мобильном устройстве fixed не работает!!!
    background: url("../../../../shared/assets/images/main-page/menuSectionImage.jpg") fixed;

    @media screen and (max-width: 1150px) {
        background: url("../../../../shared/assets/images/main-page/menuSectionImage.jpg") center/cover;
    }

    .tint {
        text-align: center;
        background: rgba(0, 0, 0, 0.562);
        height: 100%;
        padding: 200px 0;

        @media screen and (max-width: 1150px) {
            padding: 180px 0;
        }

        @media screen and (max-width: 767px) {
            padding: 100px 0;
        }
    }

    .text {
        margin-bottom: 20px;
    }
}