.HeroSection {
    margin-top: 120px;

    .title {
        margin-bottom: 20px;
    }

    .text {
        width: 500px;
        margin-bottom: 30px;

        @media screen and (max-width: 1150px) {
            width: 400px;
        }

        @media screen and (max-width: 980px) {
            width: 100%;
        }
    }

    @media screen and (max-width: 1150px) {
        margin-top: 80px;
    }

    .img1 {
        min-width: 610px;
        height: 500px;
        background: url('../../../../shared/assets/images/main-page/heroImage.jpg') center/cover;
        border-radius: 21px;

        @media screen and (max-width: 1350px) {
            min-width: 500px;
            height: 400px;
        }

        @media screen and (max-width: 1150px) {
            min-width: 350px;
            height: 300px;
        }
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;

        .btn1 {
            @media screen and (max-width: 980px) {
                display: none;
            }
        }

        .btn2 {
            display: none;

            @media screen and (max-width: 980px) {
                display: block;
                margin-top: 20px;
            }
        }

        @media screen and (max-width: 980px) {
            display: block;

            button {
                width: 100%;
                margin-bottom: 40px;
            }
        }
    }
}