.heroSection {
    padding-top: 400px;
    height: 900px;
    text-align: center;
}

.aboutSection {
    display: flex;
    justify-content: space-between;
}

.contactInfoSection {
    display: flex;
    justify-content: space-between;
}