.AboutPage {

    h1 {
        margin-bottom: 50px;

        @media screen and (max-width: 1350px) {
            margin-bottom: 30px;
        }
    }

    .heroSection {
        padding-top: 400px;
        height: 900px;
        text-align: center;

        @media screen and (max-width: 1150px) {
            height: 550px;
            padding-top: 280px;
        }

        @media screen and (max-width: 767px) {
            height: 520px;
            padding-top: 260px;
        }
    }

    .aboutSection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 80px;

        @media screen and (max-width: 980px) {
            display: block;
        }

        img {
            width: 650px;
            border-radius: 21px;

            @media screen and (max-width: 1350px) {
                width: 500px;
                aspect-ratio: auto;
            }

            @media screen and (max-width: 980px) {
                width: 100%;
                margin-top: 40px;
            }
        }
    }

    .scheduleSection {
        margin-top: 120px;

        @media screen and (max-width: 1350px) {
            margin-top: 80px;
        }
    }

    .contactInfoSection {
        display: flex;
        justify-content: space-between;
        margin-top: 120px;
        gap: 50px;

        @media screen and (max-width: 1350px) {
            margin-top: 80px;
        }

        @media screen and (max-width: 767px) {
            display: block;
        }

        .info {
            margin-bottom: 10px;
        }
    }

    .backLink {
        margin-top: 80px;
        margin-bottom: 20px;

        @media screen and (max-width: 1150px) {
            margin-top: 40px;
        }
    }

    .map {
        border-radius: 21px;
        overflow: hidden;

        @media screen and (max-width: 767px) {
            height: 200px;
        }

        iframe {
            width: 715px;
            height: 100%;

            @media screen and (max-width: 1350px) {
                width: 580px;
            }

            @media screen and (max-width: 980px) {
                width: 360px;
            }


        }
    }
}