:root {
    // colors
    --bg-color: #EDE9D8;
    --main-color: #436421;
    --accent-color: #FF7A00;

    --skeleton-bg: #DBD7C5;
    --skeleton-gradient: #BDB9A8;

    // fonts
    --accent-font: 'Ramona';
    --main-font: 'Masiva'

}