.MasterClassesSection {
    text-align: center;
    background: url('../../../../shared/assets/images/main-page/masterclasses.png') center/cover;
    padding: 150px 0;
    margin-top: 120px;

    @media screen and (max-width: 1150px) {
        margin-top: 80px;
        padding: 120px 0;
    }

    .text {
        margin-bottom: 20px;
    }
}