.ProfilePage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 530px) {
        button {
            width: 100%;
        }
    }

    @media screen and (max-width: 450px) {

        input,
        textarea {
            width: 100%;
        }
    }
}

.pageTitle {
    margin-bottom: 50px;

    @media screen and (max-width: 1350px) {
        margin-bottom: 30px;
    }
}

.pageContent {
    flex: 1 1 auto;
}

.backLink {
    margin-top: 180px;
    margin-bottom: 20px;

    @media screen and (max-width: 1350px) {
        margin-top: 150px;
    }

    @media screen and (max-width: 450px) {
        margin-top: 120px;
    }
}