.heroSection {
    padding-top: 300px;
    height: 700px;
    text-align: center;

    @media screen and (max-width: 1150px) {
        padding-top: 200px;
        height: 550px;
    }

    @media screen and (max-width: 767px) {
        height: 440px;
        padding-top: 210px;
    }

    @media screen and (max-width: 450px) {
        padding-top: 160px;
    }
}