.heroSection {
    padding-top: 400px;
    height: 900px;
    text-align: center;

    @media screen and (max-width: 1150px) {
        padding-top: 280px;
        height: 550px;
    }

    @media screen and (max-width: 767px) {
        height: 520px;
        padding-top: 270px;
    }
}

.navigation {
    .navigatinWrapper {
        display: flex;
        gap: 30px;

        white-space: nowrap;

        @media screen and (max-width: 980px) {
            overflow-x: scroll;
        }
    }

    background: var(--main-color);
    padding: 18px 0;
}

.backLink {
    margin-top: 80px;
    margin-bottom: 20px;

    @media screen and (max-width: 1150px) {
        margin-top: 40px;
    }
}