.MasterClassSignUpPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .pageContent {
        flex: 1 1 auto;
    }
}

.flex {
    display: flex;
    gap: 200px;
    margin-top: 30px;

    @media screen and (max-width: 980px) {
        display: block;
    }
}

.inputWrapper {
    @media screen and (max-width: 980px) {
        margin-top: 50px;
    }
}

.input {
    margin-bottom: 24px;
}

.paragraph {
    width: 700px;
    display: block;

    @media screen and (max-width: 1350px) {
        width: 600px;
    }

    @media screen and (max-width: 767px) {
        width: 100%;
    }
}

.title {
    margin-bottom: 50px;

    @media screen and (max-width: 1350px) {
        margin-bottom: 30px;
    }
}

.h3title {
    margin-bottom: 6px;
    margin-top: 30px;

    &:nth-child(1) {
        margin-top: 0;
    }
}

.backLink {
    margin-top: 180px;
    margin-bottom: 20px;

    @media screen and (max-width: 1350px) {
        margin-top: 150px;
    }
}