.modalWrapper {
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 400px;

    .modalImage {
        width: 360px;
        border-radius: 10px;
    }

    .modalRight {
        width: 360px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .modalHeader {
            display: flex;
            justify-content: space-between;
        }

        .statsFlex {
            display: flex;
            gap: 30px;
        }
    }
}