.Modal {
    display: flex !important;

    @media screen and (max-width: 767px) {
        display: none !important;
    }

    .modalWrapper {
        background-color: white;
        border-radius: 30px;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        height: 400px;

        @media screen and (max-width: 980px) {
            height: 380px;
        }

        .modalImage {
            width: 360px;
            border-radius: 10px;

            @media screen and (max-width: 980px) {
                width: 300px;
            }
        }

        .modalRight {
            width: 360px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media screen and (max-width: 980px) {
                width: 300px;
            }

            .modalHeader {
                display: flex;
                justify-content: space-between;
                align-items: start;
                margin-bottom: 10px;

                img {
                    cursor: pointer;
                    transition-duration: 0.3s;

                    &:hover {
                        transform: rotate(90deg);
                    }
                }
            }

            .weight {
                margin-bottom: 10px;
            }

            .statsFlex {
                display: flex;
                gap: 30px;
            }
        }
    }
}

.Drawer {
    display: none !important;

    @media screen and (max-width: 767px) {
        display: block !important;
    }


    .modalWrapper {
        background-color: white;
        border-radius: 30px;
        padding: 10px 30px 30px 30px;

        gap: 20px;
        width: 100%;

        .closeWrapper {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        .modalImage {
            width: 100%;
            height: 300px;
            border-radius: 10px;
            margin-bottom: 15px;
        }

        .modalRight {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;


            .weight {
                margin-bottom: 10px;
            }

            .statsTitle {
                margin-top: 20px;
                margin-bottom: 10px;
            }

            .statsFlex {
                display: flex;
                gap: 30px;
            }
        }
    }
}