@import "./variables/global";
@import "./reset";

.container {
  width: 1240px;
  margin: 0 auto;

  @media screen and (max-width: 1350px) {
    width: 1050px;
  }

  @media screen and (max-width: 1150px) {
    width: 925px;
  }

  @media screen and (max-width: 980px) {
    width: 720px;
  }

  @media screen and (max-width: 767px) {
    width: 500px;
  }
}

body {
  background-color: var(--bg-color);
}