.LoginPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    text-align: center;
    height: 110px;

    img {
        width: 230px;
        margin-top: 15px;
    }
}

.wrapper {
    width: 610px;
    padding: 30px;
    border-radius: 30px;
    background-color: white;
    margin-left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: 1150px) {
        margin-top: 50px;
    }

    @media screen and (max-width: 767px) {
        background-color: transparent;
        width: 100%;
        margin-top: 0;
        padding: 0;

        input {
            width: 100%;
        }
    }

    .modalHeader {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        .closeBtn {
            cursor: pointer;

            @media screen and (max-width: 767px) {
                display: none;
            }
        }
    }



    .input {
        margin-bottom: 24px;
    }
}

.error {
    margin-bottom: 20px;
}