.Tab {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 2px 18px;
    border: 1px solid var(--main-color);
    border-radius: 100px;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.selected {
    color: white;
    background-color: var(--main-color);
}