.MenuList {



    .sectionTitle {

        margin-top: 50px;
        margin-bottom: 30px;
    }

    .firstSectionTitle {
        margin-top: 0;
    }

    .cardsContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @media screen and (max-width: 1350px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (max-width: 767px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .navigation {
        .navigatinWrapper {
            display: flex;
            gap: 30px;

            white-space: nowrap;

            @media screen and (max-width: 980px) {
                overflow-x: scroll;
            }
        }

        background: var(--main-color);
        padding: 18px 0;
    }

    .backLink {
        margin-top: 80px;
        margin-bottom: 20px;

        @media screen and (max-width: 1150px) {
            margin-top: 40px;
        }
    }

    .tabWrapper {
        display: flex;
        gap: 10px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}