.MenuList {



    .sectionTitle {

        margin-top: 50px;
        margin-bottom: 30px;
    }

    .firstSectionTitle {
        margin-top: 0;
    }

    .cardsContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @media screen and (max-width: 1350px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}