.MasterClassCard {
    box-shadow: 0 0 5px var(--shadow-color);
    // border: 2px solid var(--main-color);
    border-radius: 21px;
    overflow: hidden;

    .infoWrapper {
        padding: 18px 18px 24px 18px;
    }

    .img {
        height: 260px;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin: 10px 0;
    }
}