.MainPage {

    .marquee {
        margin: 50px 0;

        @media screen and (max-width: 767px) {
            margin: 40px 0;
        }

        @media screen and (max-width: 767px) {
            margin: -10px 0 30px;
        }
    }
}